services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: psalm-eo-rules
    volumes:
      - .:/app
    working_dir: /app
    tty: true
    stdin_open: true
    entrypoint: fish